# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log
# node_modules
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
# Supprime node_modules du suivi Git (mais pas du disque dur)
git rm -r --cached node_modules

# Ajoute node_modules à .gitignore s’il n’y est pas déjà
echo "node_modules/" >> .gitignore

# Commit les changements
git add .gitignore
git commit -m "Remove node_modules and update .gitignore"

# Push sur le dépôt distant
git push
