
<div class="page-header">
  <h1 class="title">{{ testTitle }}</h1>
</div>

<!-- Timer de compte à rebours -->
<div class="countdown-timer">
  <div class="time-box">
    <span class="time-number">{{ remainingHours }}</span>
    <span class="time-label">Heures</span>
  </div>
  <span class="separator">:</span>
  <div class="time-box">
    <span class="time-number">{{ remainingMinutes }}</span>
    <span class="time-label">Minutes</span>
  </div>
  <span class="separator">:</span>
  <div class="time-box">
    <span class="time-number">{{ remainingSeconds }}</span>
    <span class="time-label">Secondes</span>
  </div>
</div>
<div class="progress-bar-container">
  <div class="progress-bar" 
       [style.width]="(currentQuestionIndex + 1) / questions.length * 100 + '%'">
  </div>
</div>
<!-- Question -->
<div class="question-container">
  <h3 class="question-title">{{ questions[currentQuestionIndex]?.enonce }}</h3>
  <p class="question-level">{{ questions[currentQuestionIndex]?.niveau }}</p>
  <div *ngIf="questions[currentQuestionIndex]?.type === 'QCM'" class="options-container">
    <div *ngFor="let option of questions[currentQuestionIndex]?.answerOptions" class="option">
      <input type="checkbox" 
             (change)="toggleSelection(option.id, $event)" 
             [checked]="isChecked(questions[currentQuestionIndex]?.id, option.id)" 
             [id]="'option_' + option.id"
             name="qcmQuestion_{{ questions[currentQuestionIndex].id }}" />
  
      <label [for]="'option_' + option.id">{{ option?.text }}</label>
    </div>
  </div>
  
  <!-- Text Question -->
  <div *ngIf="questions[currentQuestionIndex]?.type === 'Text'" class="text-container">
    <textarea placeholder="Votre réponse ici..." (input)="markAnswered()"></textarea>
  </div>
  <div *ngIf="questions[currentQuestionIndex]?.type === 'Code'" class="code-question">
    <textarea placeholder="💻 Écrivez votre code ici..." (input)="markAnswered()"></textarea>
  </div>


<div class="navigation-buttons">
  <!-- Bouton Précédente -->
  <button class="btn prev-btn" 
          (click)="previousQuestion()" 
          [disabled]="currentQuestionIndex === 0"
          [ngClass]="{'disabled-btn': currentQuestionIndex === 0}">
    Précédente
  </button>

  <button *ngIf="currentQuestionIndex < questions.length - 1" 
        class="btn next-btn" 
        (click)="nextQuestion()" 
        [disabled]="!isAnswered">Envoyer</button>
  <button *ngIf="isLastQuestion()" (click)="terminerTest()" class="btn submit-btn ">
    terminer
  </button>
</div>
<ng-template #noQuestions>
  <p>Aucune question disponible pour ce test.</p>
</ng-template>
