<div class="Navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="logo" href="#">TESTINY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
            <a routerLink="/training" routerLinkActive="active" class="nav-link">Training</a>
            <a routerLink="/student/examslist" routerLinkActive="active" class="nav-link">Technical Test</a>
  
            <div class="left">
              <a routerLink="/signup"><button type="button" class="btn signup-btn">Sign Up</button></a>
              <a routerLink="/signin"><button type="button" class="btn signin-btn">Login</button></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  