<mat-drawer-container class="allSidebar">
  <mat-drawer [class]="OpenedSideBar ? 'sidebar' : 'sidebar close'" mode="side" opened="true">
    <div class="logo">
      <img src="" alt="">
    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <ul>
      <li>
        <a [routerLink]="['/dash']" [ngClass]="{'active': current === '/dash'}">
          <mat-icon class="icon">dashboard</mat-icon>
          <p class="nav-item">
            Dashboard
          </p>
        </a>
      </li>
     <li>
        <a [routerLink]="['/admin/List-Question']" [ngClass]="{'active': current === '/admin/List-Question'}">
          <mat-icon class="icon">quiz</mat-icon>
          <p class="nav-item">
            Gérer les questions
          </p>
        </a>
      </li>
      <li>
        <a [routerLink]="['/admin/TestManagement']" [ngClass]="{'active': current === '/admin/TestManagement'}">
          <mat-icon class="icon">assignment_turned_in</mat-icon>
          <p class="nav-item">
            Gérer les tests
          </p>
        </a>
      </li>
      <li *ngIf="roles.includes('ROLE_ADMIN')">
        <a [routerLink]="['/admin/list-Chefs']" [ngClass]="{'active': current === '/admin/list-Chefs'}">
          <mat-icon class="icon">supervisor_account</mat-icon>
          <p class="nav-item">
            Gérer les chefs
          </p>
        </a>
      </li>
      <li *ngIf="roles.includes('ROLE_ADMIN')">
        <a [routerLink]="['/admin/activation-Compte']" [ngClass]="{'active': current === '/admin/activation-Compte'}">
          <mat-icon class="icon">how_to_reg</mat-icon>
          <p class="nav-item">
            Gérer les comptes
          </p>
        </a>
      </li>
      <li  *ngIf="roles.includes('ROLE_CHEF')">
        <a [routerLink]="['/admin/developpeurs-assignes/:id']" [ngClass]="{'active': current === ''}">
          <mat-icon class="icon">engineering</mat-icon>
          <p class="nav-item">
           Mes développeurs
          </p>
        </a>
      </li>
      <li *ngIf="roles.includes('ROLE_ADMIN')">
        <a [routerLink]="['/admin/edit', admin.id]" class="nav-link">
          <mat-icon class="icon">manage_accounts</mat-icon>
          <p class="nav-item">Modifier profil</p>
        </a>
      </li>
      <li *ngIf="roles.includes('ROLE_CHEF')">
        <a [routerLink]="['/admin/editchef', chef.id]" class="nav-link">
          <mat-icon class="icon">manage_accounts</mat-icon>
          <p class="nav-item">Modifier profil</p>
        </a>
      </li>
      <li *ngIf="roles.includes('ROLE_DEVELOPPEUR')">
        <a [routerLink]="['/admin/editDev', chef.id]" class="nav-link">
          <mat-icon class="icon">manage_accounts</mat-icon>
          <p class="nav-item">Modifier profil</p>
        </a>
      </li>
      
      <li>
        <a class="close_sidebar" (click)="OpenedSideBar=!OpenedSideBar">
          <mat-icon class="icon">
            {{OpenedSideBar ? 'chevron_left' : 'chevron_right'}}
          </mat-icon>
        </a>
      </li>
    </ul>
  </mat-drawer>
  <mat-drawer-content [ngStyle]="{'margin-left': OpenedSideBar ? '230px' : '130px'}">
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>